@inject ILocalStorageService _localStorageService
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager

<h3 class="test">Component</h3>

<div class="btn-group mb-3" role="group">
    <AuthorizeView>
        <Authorized>
            <button class="btn btn-dark" @onclick="Logout">Logout</button>
        </Authorized>
        <NotAuthorized>
            <a href="login" class="btn btn-dark">Login</a>
            <a href="register" class="btn btn-dark">Register</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    private async Task Logout()
    {
        await _localStorageService.RemoveItemAsync("authToken");
        await _authenticationStateProvider.GetAuthenticationStateAsync();
        _navigationManager.NavigateTo("");
    }
}
